
.body-content{

    .add-product-page{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        padding: 20px 0;
        text-align: center;

        .title-div{
            background-color: gray;
            opacity: 20%;
            padding: 1px;
            margin-bottom: 10px;
            border-radius: 9px;
        }

        .count-items{
            width: 230px;
            text-align: left;
            flex-shrink: 0;
            margin: 50px 0;
    
            .lbl-counter{
                color: #212121;
                font-weight: bold;
                margin-left: 20px;
            }
            .spn-counter{
                color: #CC5717;
                background: #FCEBDB;
                border-radius: 6px;
                padding: 5px 30px;
                font-weight: bold;
            }
        }

        .main-items{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            margin: 40px 0 20px 0;
        }
   
        .add-item{
            margin: 15px 0;
        }

        .shoppingCart-table{
            th{
                font-weight: bold;
            }
        }

        .lbl-information{
            color:#10abd9;
            font-size: 1em;
            text-align: right;

            &.has-results{
                margin-bottom:10px;;
            }
        }
    }
   
}